<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/theme.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Jaskirat Singh</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<h2>Tables</h2>
					<table>
						<h4>HTML Elements Table 1</h4>
						<thead>
							<tr>
								<th>Element  </th>
								<th>Description  </th>
								<th>Example  </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>&lt;h1  &gt;</td>
								<td>Main heading tag for large headings</td>
								<td>&lt;h1&gt;Hello World&lt;/h1&gt;</td>
							</tr>
							<tr>
								<td>&lt;p  &gt;</td>
								<td>Paragraph tag for block of text</td>
								<td>&lt;p&gt;This is a paragraph.&lt;/p&gt;</td>
							</tr>
							<tr>
								<td>&lt;a  &gt;</td>
								<td>Anchor tag for links</td>
								<td>&lt;a href="https://example.com"&gt;Click here&lt;/a&gt;</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3">This table lists common HTML elements</td>
							</tr>
						</tfoot>
					</table>

					
					<table>
						<h4> HTML Elements Table 2</h4>
						<thead>
							<tr>
								<th>Element</th>
								<th>Description</th>
								<th>Example</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>&lt;ul&gt;  </td>
								<td>Creates an unordered list</td>
								<td>&lt;ul&gt;&lt;li&gt;Item 1&lt;/li&gt;&lt;li&gt;Item 2&lt;/li&gt;&lt;/ul&gt;</td>
							</tr>
							<tr>
								<td>&lt;img&gt;  </td>
								<td>Embeds an image</td>
								<td>&lt;img src="image.jpg" alt="Sample Image"&gt;</td>
							</tr>
							<tr>
								<td>&lt;div&gt;  </td>
								<td>Defines a division or section in a document</td>
								<td>&lt;div&gt;This is a division&lt;/div&gt;</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3">This table lists common HTML elements</td>
							</tr>
						</tfoot>
					</table>

					<h2>Lists</h2>
					<ol>
						<li>Basic HTML Tags
							<ul>
								<li>&lt;h1&gt; to &lt;h6&gt;: Headings</li>
								<li>&lt;p&gt;: Paragraph</li>
								<li>&lt;a&gt;: Anchor (Link)</li>
							</ul>
						</li>
						<li>Media Tags</li>
						<li>Form Elements</li>
						<li>HTML5 New Features
							<ul>
								<li>&lt;article&gt;: Independent content</li>
								<li>&lt;section&gt;: Section of a document</li>
								<li>&lt;canvas&gt;: Drawing graphics</li>
							</ul>
						</li>
						<li>HTML Attributes</li>
					</ol>

					<p>
						The list above shows several key topics related to HTML. It covers basic HTML tags, media elements, form elements, and some of the new features introduced in HTML5. 
						Additionally, it includes a nested unordered list under "Basic HTML Tags" and "HTML5 New Features" to showcase examples of different types of HTML elements.
					</p>

					<!-- Images Section -->
    <h2>Images</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Sunflower_sky_backdrop.jpg/800px-Sunflower_sky_backdrop.jpg" alt="Sunflower">
    <img src="https://upload.wikimedia.org/wikipedia/en/8/80/Never_Give_Up_Title_Screen.jpg" alt="Never_Give_Up">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Diljit-Dosanjh-and-others-grace-Rising-Star-2-Uthao-Soch-Ki-Deewar-3.jpg%282%29.edit1_%28cropped%29.jpg" alt="Diljit Dosanjh">

	<p>
		This section shows different images of different Sizes
	</p>


    <!-- Audio Section -->
    <h2>Audio</h2>
    <audio controls>
        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
        
    </audio>

	<p>
		This section create an audio player and play a tune
	</p>

    <!-- Video Section -->
    <h2>Video</h2>
    <video controls width="600">
        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">

		<p>
		This section create an video player and play a video
		</p>
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>