


					<!-- Start your code here -->
					
					<h1>Welcome to my website!</h1>
    				<p>I will be demonstrating HTML5 principles and techniques, along with Routing in Express.</p>

    
						<h2>Website Overview</h2>
						<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that provide data:
							<ul>
								<li><a href="/students">All Students</a></li>
								<!-- <li><a href="/tas">All Teacher Assistants</a></li> -->
								<li><a href="/courses">All Courses</a></li>
							</ul>
						</p>

						<h2>About HTML5</h2>
						<p>This site utilizes HTML5, a markup language used for structuring and presenting content on the web.</p>
					
					
					<!-- End your code here  -->


